<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Sign Up</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel='shortcut icon' type='image/x-icon' href='./images/logo.png'>
  <link href="https://fonts.googleapis.com/css?family=Proza+Libre" rel="stylesheet">
</head>
<body>
  <img class = "logo" src="../images/logo.png">
  <div class="container">

      <h1>Pennyless</h1>

      <form action="/user" method="POST">
        <div class="email2">
          <label for="email">Email</label><br>
          <input id="email" type="text" name="user[email]" placeholder="john.doe@example.com">
        </div>

        <div class="password2">
          <label for="password">Password</label><br>
          <input id="password" type="password" name="user[password]" placeholder="P4ssw0rd1234"><br>
        </div>
        
        <input class = "submitIt" type="submit" value="Sign Up">
      </form>

      <p>Already a user? <a href="/user/login">Sign in!</a></p>
  </div>

</body>
</html>