<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>New place</title>
</head>

<body>
    <h1>Results page</h1>
    <form action="#">
        <label>Enter Name</label>
        <input type="text">
        <label>Enter Address</label>
        <input type="text">

        <label>Category</label>
        <select name="Category" id="">
        	<option>-Select-</option>
            <option value="drinks">Drinks</option>
            <option value="entertainment">Entertainment</option>
            <option value="education">Education</option>
            <option value="food">Food</option>
            <option value="shopping">Shopping</option>
            <option value="misc">Misc</option>
        </select>

        <label>Notes</label>
        <textarea name="" id="" cols="50" rows="20"></textarea>

        <button>Add</button>
    </form>
</body>

</html>
