<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel='shortcut icon' type='image/x-icon' href='/images/logo.png'>
    <link href="https://fonts.googleapis.com/css?family=Proza+Libre" rel="stylesheet">
    <script src='/js/jquery.js'></script>
    <script src='/js/map.js'></script>
    <script type="text/javascript"
        src="http://maps.googleapis.com/maps/api/js?sensor=true">
    </script>
</head>

<body>
    <h1>Showing one item</h1>
    <p>Name: {{name}}</p>
    <p>Category: {{cat}}</p>
    <p>Notes: {{note}}</p>
    <p class = 'lat' data_id = {{lat}} hidden>{{lat}}</p>
    <p class = 'long' data_id = {{long}} hidden>{{long}}</p>
    <div id="map">
    </div>
    <!--  <script>

    let value = document.getElementById('lat').value;
    console.log(value);

    function initMap() {
        var uluru = {
            lat: 40.739885,
            lng: -73.990082
        };
        // var marker1 = {
        //     lat: document.getElementById('lat').value(),
        //     long: document.getElementById('long').value()
        // }
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: uluru
        });
        // var marker = new google.maps.Marker({
        //     position: marker1,
        //     map: map
        // });
    }
    </script>

 -->
</body>

</html>
